.MMM-ResRobot {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  width: fit-content;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.ResRobot table {
    /* width: fit-content; */
}

.departuretime {
    padding-right: 10px;
}
/*
.departuretype {
    padding-right: 10px;
}

.linetype {
    padding-right: 10px;
}


.lineno {
    padding-right: 10px;
}



.trackno {
    width: 10%;
    text-align: right;
    padding-right: 10px;
}

.destination {
    text-align: left;
} */
